<head>
    {% include 'xrowbootstrapBundle::page_head_displaystyles.html.twig' %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block page_head %}
        {% include 'xrowbootstrapBundle::page_head.html.twig' %}
    {% endblock %}
    {% include 'xrowbootstrapBundle::page_head_style.html.twig' %}
    {% include 'xrowbootstrapBundle::page_head_script.html.twig' %}
</head>
<div class="container">
    <div class="row">
        <div class="col-sm-12" style="border:solid 1px;">
        Header
        </div>
    </div>
    <div class="row" style="padding: 15px; border:solid 1px;">
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
    </div>
        <div class="row">
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-4" style="border:solid 1px;">
        <img src={{ asset('images/baum.jpg') }} width="200" height="150" />
        </div>
        <div class="col-sm-12" style="border:solid 1px;">
        Footer
        </div>
        
    </div>
    <div class="row">
        <div class="col-sm-12" style="border:solid 1px;">
        Last container
        </div>
    </div>

</div>